@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Projeto de Cadastro voltado a Biblioteca</p>
</div>
<div>
    <img src="~/lib/LogoLivro.png" class="rounded mx-auto d-block" alt="Logo">
</div>

<br />
<br/>
<br />
<p>
    Biblioteca (do grego βιβλιοϑήκη, composto de βιβλίον, biblion — "livro", e ϑήκη theca — "depósito"), na definição tradicional do termo,
    é um local em que são guardados livros, documentos tridimensionais, e demais publicações para o público estudar, ler, e consultar tais obras. 
    Desta forma, os três objetivos das bibliotecas são[1]:

    A guarda dos livros e demais publicações em local livre de perigo, onde não sejam roubados, incendiados e demais perigos;
    A conservação, que não sejam estragados porque o público manuseia constantemente as obras, ou porque os documentos ficam úmidos, quentes e ou em situações similares;
    A organização segundo algumas regras para catalogar e arquivar as obras impressas, com intuito de que seja possível de se encontrarem de
    maneira imediata por meio de classificações como autor, assunto, ou diferente caraterística de importância.
</p>
<br />
<div>
    <img src="~/lib/1091px-0200_years_Biblioteca_Nacional_in_Rio_de_Janeiro_city.jpg" class="rounded mx-auto d-block" alt="Logo">
</div>
<p>
    Os profissionais que lidam com esses objetivos são os bibliotecários, com formação em biblioteconomia, curso ensinado em instituições de ensino superior.
    Para os visitantes, as bibliotecas têm três finalidades básicas: estudar, ler e consultar as obras.[1] O público
    procurador comum das bibliotecas está buscando um estudo sobre um certo tema, de simples leitura por diversão, ou de realização de pesquisa a respeito de
    alguns assuntos. Por essa razão mesmo, há uma grande variedade de pessoas que visitam as bibliotecas quando se é tratado de bibliotecas generalistas.
    Hoje em dia, as bibliotecas não são somente guardiãs de livros, porém, da mesma forma, de dicionários, enciclopédias, monografias, manuais, documentos
    tridimensionais, almanaques, atlas, jornais, revistas, mapas, cartazes, manuscritos, filmes, discos, CDs, fitas, VHS, DVDs, BDs, ou bancos de dados 
    (arquivos em PDF ou DOC), fotografias, telas e microfilmes. Revistas e jornais são classificados como material periódico, também são organizados e 
    armazenados em uma seção da biblioteca denominada hemeroteca - espaço próprio para este tipo de material informativo.[1]
</p>

<br />
<br />

